/* DASHBOARD STYLES */
.dashboard{
  display:flex;
}

/* SIDE PANEL STYLES */
.side-panel{
flex: 1;
border-right: 0.5px solid lightgrey;
min-height: 100vh;
}

.main-logo{
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  font-size: 1.5rem;
  font-weight: bold;
}
.center-list{
  padding-left: .5rem;
}
.center-list ul{
  list-style: none;
}
/* END OF SIDE PANEL STYLES */
.main-container{
  background-color: bisque;
  flex: 6;
}
